.body {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
}


.hero {
    background-color: #1F2937;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    padding-top: 32px;
    padding-bottom: 128px;
    padding-left: 128px;
    padding-right: 128px;
    gap: 64px;
}

.left-box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: flex-start;
}

.right-box {
    display: flex;
    flex-basis: 50%;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.container-section1 {
  display: flex;
  justify-content: center;
  gap: 52px;
  padding-bottom: 128px;
}

.info {
    padding-top: 12px;
    max-width: 200px;
}

.empty-square {
    border: 4px solid #3882f6;
    width: 200px;     
    height: 200px;
    border-radius: 8px;
}

.text {
    text-align: center;
    padding-top: 12px;
}

.section2 {
    background-color: #e5e7eb;
    padding: 128px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.signature {
    font-weight: 900;
    align-self: flex-end;
}

.container-section3 {
    display: flex;
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 124px;
    padding: 62px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
}

.left-text {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}

.signup-button {
    border: 2px solid white;
    border-radius: 8px;
}

.p1 {
    font-size: 28px;
    font-weight: 900;
    flex-basis: 1;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 48px;
    font-size: 18px;
}